version: '3'
services:
  mysql:
    image: mysql
    container_name: shlk-db
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3308:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=shlk_db
      - MYSQL_USER=shlk
      - MYSQL_PASSWORD=root
  app:
    image: webdevops/php-nginx:8.2-alpine
    platform: linux/amd64
    container_name: shlk-app
    working_dir: /var/www/app
    volumes:
      - .:/var/www/app
    ports:
      - "8000:80"
    environment:
      - XDEBUG_ENABLED=true
      - APP_NAME='SHLK - College'
      - APP_URL=http://localhost:8000
      - WEB_DOCUMENT_ROOT=/var/www/app/public
    depends_on:
      - mysql
